<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Index of /{{url}}</title>
</head>
<body>
{{#files}}
    <pre><a href="{{filename}}">{{filename}}</a></pre>
{{/files}}
</body>
</html>